*,


* {
  padding: 0;
  margin: 0;
}



body {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 360;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(204, 147, 147, 0.25); 
      }

@media (min-width: 1024px) {
  :root {
    --fs-h1: 7rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem; 
  } 
}

section {
  padding-left: 2em; 
}

img {
  max-width: 100%;
  height: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-size: 100%; 
  font: inherit; 
  vertical-align: baseline;
}

/*  Header Styles  */

.nav {
  display: none;
}




/*  Introduction Section Styles  */

    /* Typography */

.section__title--intro {
  font-family: var(--ff-primary);;
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  grid-area: title;
}

.section__title {
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.15em 0.5em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  margin-top: 0.68em;
  
}

.section__subtitle--intro {
  position: relative;
  display: inline-block;
  
}

.section__subtitle--work {
  text-align: center;
  color: white;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__title--about {
  text-align: center;
  margin-bottom: 1em;
}

.section__title--work {
  text-align: center;
  margin-bottom: 0.7em;
  margin-top: -0.5em;
  color: white;
}

.section__title--services {
  text-align: center;
  margin-bottom: 1.5em;
  margin-top: -0.5em;
  color: white;
}

.section__title--client {
  text-align: center;
  margin-bottom: 1em;
}
    /* end of typography */

.intro__text--container {
  text-align: center;
  align-self: center;
  width: 37vh;
  padding: 1em;
  margin: auto;
}

.intro {
  display: grid;
  position: relative;
  width: 37vh;
  grid-column-gap: 1em;
  grid-template-areas: "title title"
                       "subtitle subtitle"
                       "img img";
  grid-template-columns: min-content max-content;
  grid-template-rows: auto auto;
  text-align: center;
  margin-right: 2rem;
 
}

.intro__img {
  grid-area: img;
  width: 35vh;
  height: auto;
  background-size: cover;
  background-position: center;
}



        /* My Services Section Styles */
.my-services {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  display: block;
  background-color: var(--clr-dark);
  width: 37vh;    /* The width of the Note 20 Ultra 412px */
  margin-right: 0;
  padding-right: 0;
}
.service__title {
  font-size: var(--fs-h3);
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: center;
}
.service__text {
  font-size: var(--fs-body);
  padding: 1em;
  margin: auto;
  display: block;
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  text-justify: inter-word;
  word-wrap: break-word;
  max-width: 35vh;
}

.my-work__button, a {
  text-align: center;
  color: white;
  font-weight: var(--fw-bold);
}



        /*  About Me Section Styles  */

.about__me--imgContainer {
  position: relative;
  width: 40vh;
  height: auto;
  margin: auto;
  text-align: center;
  display: inline;
  
 
}
.about__me--imgContainer2 {
  position: relative;
  width: 40vh;
  height: auto;
  margin: auto;
  text-align: center;
  display: inline;
 
}

.about-me__img1 {
  width: 49%;
  height: 17vh;
  background-size: cover;
  background-position: center;
}

.about-me__img2 {
  width: 49%;
  height: 17vh;
  background-size: cover;
  background-position: center;
}

.about__me--body1 {
  margin-bottom: 1em;
  font-family: var(--fs-body);
}

.about__me--body2 {
  margin-bottom: 3em;
  font-family: var(--fs-body);
}




        /*  My Work Section Styles */
.my-work {
  display: block;
  background-color: var(--clr-dark);
  max-width: 100%;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}


.portfolio-item {
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: "image image"
                       "title icon" 
                       "desc .";
  -ms-flex-line-pack: start;
  align-content: start;
}



.portfolio-list {
  display: grid;
  justify-content: space-evenly;
  justify-items: start;
  text-align: center;
  align-items: center;
}

.portfolio-item-tall {
  align-self: center;
}
.portfolio__item--inner {
  width: 100%;
}

.portfolio-img {
  max-width: 100%;
  height: 18rem;
  background-position: stretch;
  border: 2px solid cyan;

}

.portfolio-img:hover {
  border: 4px solid yellow;
}

.span-text {
  text-align: center;
  display: none;
  align-items: center;
  position: absolute;
  

  
  background-color: #111;
}

.span-text:hover {
  background-color: red;
}

.portfolio-a:hover .span-text {
  display: inline-block;
  background-color: black;
  text-align: center;
}


        /*  Footer Section Styles  */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link::hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 2em;
}

.social-list__link {
  padding: 0.5em;
}


        /* Client / Freelance Section Styles */
.clientSection {
  border: 2px solid blue;
  background-color: #eeeeee;
}

.client__grid {
  border: solid 2px red;
  text-align: center;
}

.client__item {
  display: inline-block;
  
}

.client__img {
  width: 15vh;
  height: 15vh;
  padding: 1em;
}

.hire__container { 
  text-align: center;
  margin-top: 2em;
}

.hire__button {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  padding: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hire__container a {
  
  text-decoration: none;
}


/* Subpages styles */




/* Media Queries  */

