*,
*::before *::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 360;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(204, 147, 147, 0.25);
}

@media (min-width: 1024px) {
  :root {
    --fs-h1: 7rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}
section {
  padding: 3em 3em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

.logo {
  display: none;
}

footer {
  text-align: center;
}

footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em;
}

footer a {
  align-items: center;
}

.source-code-link {
  text-align: center;
}

li {
  list-style-type: none;
}

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-body);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: em;
  margin-top: 0.68em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 500px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border: 5px solid red;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  display: flex;
  list-style: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    height: auto;
    margin-bottom: 5em;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
strong {
  font-weight: var(--fw-bold);
}

.logo {
  display: none;
}

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section_title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 0.75em;
  margin-top: 0.6em;
}

.my-services {
  background-color: var(--clr-dark);
  background-image: url(/Assets/20190725_220301.jpg);
  background-size: 100%;
  background-size: cover;
  background-image: no-repeat center;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

@media (min-width: 1440px) {
  .my-services {
    background-repeat: no-repeat;
    background-size: 105em 50em;
  }
}
@media (min-width: 1024px) {
  .my-services {
    background-repeat: no-repeat;
    background-size: 100% 50em;
  }
}
@media (min-width: 768px) {
  .my-services {
    background-repeat: no-repeat;
    background-size: 100% 50em;
  }
}
.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .service + .service {
    margin-left: 2em;
  }

  .intro__img {
    height: 8.5em;
    margin-bottom: 8em;
  }
}
@media (min-width: 1024px) {
  .intro__img {
    height: 13em;
  }

  .service {
    margin-right: 2em;
    margin-left: 2em;
  }

  .services {
    max-width: 1500px;
  }
}
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .about-me__body {
    font-size: 0.8em;
  }
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas: "title img1" "subtitle img1" "text img2";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    display: block;
  }

  .about-me__img2 {
    grid-row: 1/-4;
    grid-column: 2;
    grid-area: img2;
    z-index: 2;
    width: 2fr;
    margin-top: 5.5em;
  }

  .about-me__img1 {
    grid-row: 1/-1;
    grid-column: 2;
    grid-area: img1;
    z-index: 2;
    margin-top: 1.5em;
  }
}
@media (min-width: 360px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 125px;
    grid-template-areas: "title img1" "subtitle img1" "text img2";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    display: block;
  }

  .about-me__img2 {
    grid-row: 1/-4;
    grid-column: 2;
    grid-area: img2;
    z-index: 2;
    width: 1fr;
  }

  .about-me__img1 {
    grid-row: 1/-1;
    grid-column: 2;
    grid-area: img1;
    z-index: 2;
    margin-top: 3em;
  }

  .my-services {
    width: 4fr;
  }
}
a {
  color: white;
}

.section__subtitle--work {
  margin-bottom: 3em;
}

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link::hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 2em;
}

.social-list__link {
  padding: 0.5em;
}

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

/* Portfolio Styles */
.main-content {
  padding: 10%;
  flex: 1 1 80%;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 20px;
}

.portfolio-item:hover:before {
  transform: scale(1.1);
  box-shadow: 0 0 25px #ffee10;
}

.portfolio-item:hover {
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 20px #ffee10;
}

.portfolio-item img {
  height: 18rem;
}

.portfolio-item {
  background: var(--clr-light);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  display: flex;
  border: 4px solid cyan;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1500px) {
  .portfolio-item-large {
    grid-row: span 1;
    grid-column: 1/4;
  }

  .portfolio-item-wide {
    grid-row: 2;
    grid-column: 1/3;
  }

  .portfolio-item-medium2 {
    grid-row: 1;
    grid-column: 4;
  }
}
@media (min-width: 1941px) {
  .portfolio-item-small {
    grid-row: 2;
    grid-column: 4;
  }

  .portfolio-item-medium {
    grid-row: 2;
    grid-column: 3;
  }

  .portfolio-item-tall {
    grid-row: span 2;
  }

  .about-me__body {
    font-size: 1.25em;
  }

  .services p {
    font-size: 1.1em;
  }
}
.span-text {
  align-items: center;
  display: none;
  position: absolute;
}

.portfolio-item:hover .span-text {
  display: block;
  background-color: black;
}

/* Portfolio Items Page Descriptions  */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/*  Resume Styles   */
.RESUME__job-container {
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
  background-blend-mode: multiply;
  padding-bottom: 5em;
  border: 5px solid black;
  padding: 2.5em;
}

.RESUME__job-container h1, .RESUME__job-container h2 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

.RESUME__job-container p {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
}

.RESUME__job-container h4 {
  margin-top: 0.4em;
}

.RESUME__job-container .RESUME__section__job-city {
  padding-top: 1.5em;
}

@media (min-width: 1024px) {
  .RESUME__job-container h1, .RESUME__job-container h2 {
    font-size: 3rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
  }
}
.RESUME__subheading {
  margin-top: 2em;
}

/*# sourceMappingURL=styles.css.map */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Portfolio-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 2em;
}

.port-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.section__title--work {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  margin-top: -1.2em;
}

/*# sourceMappingURL=styles.css.map */
